.App {
  margin: 0;
  padding:0;
  border:0;
  font-size:100%;
  font-family: inherit;
  vertical-align: baseline;

}


.App-header {
  text-align: center;
  padding-top: 10px;
  height: 80px;
  margin: 0;
}
.App-logo {

  height: 80px;
}

.router-div{
  margin: 0;
  padding:0;
  border:0;
}

.wrapper {

  background: #efefce;
  padding-top: 68px;
}

.wrapperNavOff {
  margin-top: 5px;
}
